<h1 id="awesomedesigntools">Awesome-Design-Tools</h1>
<p align="center">
    <a href="https://flawlessapp.io/feedback?github">
        <img src="Awesome-design-tools-cover.png" alt="Awesome-Design-Tools"/>
    </a>
</p>
<p><about></p>
<h2 id="howtouseandcontribute">How to Use and Contribute</h2>
<ul>
<li>Go through the Table of Contents and choose the tool. </li>
<li>Search for a keyword or phrase (for example, "animation", "prototyping").</li>
<li>Ask <a href="https://twitter.com/LisaDziuba">Lisa</a> on Twitter.</li>
</ul>
<p>If you found some great design tool, just send a Pull Request. I'd love to see your suggestions! </p>
<h2 id="tableofcontent">Table of Content</h2>
<ul>
<li><a href="https://github.com/LisaDziuba/Awesome-Design-Tools#user-flow-tools">User Flow Tools</a></li>
<li><a href="https://github.com/LisaDziuba/Awesome-Design-Tools#user-flow-tools">Prototyping Tools</a></li>
<li><a href="https://github.com/LisaDziuba/Awesome-Design-Tools#ui-design-tools">UI Design Tools</a></li>
<li><a href="https://github.com/LisaDziuba/Awesome-Design-Tools#design-feedback-tools">Design Feedback Tools</a></li>
<li><a href="https://github.com/LisaDziuba/Awesome-Design-Tools#free-screenshot-software">Free Screenshot Software</a></li>
<li><a href="https://github.com/LisaDziuba/Awesome-Design-Tools#design-system-tools">Design System Tools</a></li>
<li><a href="https://github.com/LisaDziuba/Awesome-Design-Tools#font-tools">Font Tools</a></li>
<li><a href="https://github.com/LisaDziuba/Awesome-Design-Tools#color-picker-tools">Color Picker Tools</a></li>
<li><a href="https://github.com/LisaDziuba/Awesome-Design-Tools#animation-tools">Animation Tools</a></li>
<li><a href="https://github.com/LisaDziuba/Awesome-Design-Tools#experience-monitoring-tools">Experience Monitoring Tools</a></li>
<li><a href="https://github.com/LisaDziuba/Awesome-Design-Tools#accessibility-tools">Accessibility Tools</a></li>
<li><a href="https://github.com/LisaDziuba/Awesome-Design-Tools#augmented-reality-tools">Augmented Reality Tools</a></li>
</ul>
<p align="center">
    <a href="https://flawlessapp.io/feedback?github">
        <img src="flawless-feedback-promo-banner.png" alt="Awesome-Design-Tools"/>
    </a>
</p>
<h3 id="userflowtools">User Flow Tools</h3>
<p>If you need to make a user flow diagram, user flow map or a sitemap, take a look at these tools:</p>
<ul>
<li><a href="https://www.draw.io/">Draw.io</a> — free online diagram software for making flowcharts, process diagrams, org charts, UML, ER and network diagrams.</li>
<li><a href="https://overflow.io/">Overflow</a> — turn your designs into playable user flow diagrams that tell a story.</li>
</ul>
<h3 id="prototypingtools">Prototyping Tools</h3>
<ul>
<li><a href="https://www.invisionapp.com/">InVision</a> —  prototyping, collaboration &amp; workflow platform.</li>
<li><a href="https://www.flinto.com/">Flinto</a> — a Mac app for creating interactive and animated prototypes of app designs.</li>
<li><a href="https://framer.com/">Framer X</a> — a tool for prototyping design animations.</li>
<li><a href="https://marvelapp.com/">Marvel App</a> — the collaborative design platform. Wireframe, prototype, design online and create design specs in one place. </li>
<li><a href="https://principleformac.com/">Principle</a> — makes it easy to design animated and interactive user interfaces.</li>
<li><a href="https://www.protopie.io/">ProtoPie</a> — piece hi-fi interactions together, build sensor-aided prototypes and share your amazing creations in a matter of minutes.</li>
<li><a href="https://proto.io/">Proto.io</a> — a tool to create fully-interactive high-fidelity prototypes that look and work exactly like your app should.</li>
<li><a href="https://www.uxpin.com/">UXPin</a> — build prototypes that feel real, with powers of code components, logic, states and design systems.</li>
</ul>
<p>You can also do prototype with Figma, Adobe XD, InVision Studio, that mentioned in UI Design Tools section.</p>
<h3 id="uidesigntools">UI Design Tools</h3>
<ul>
<li><a href="https://www.adobe.com/products/illustrator.html">Adobe Illustrator</a> — create logos, icons, drawings, typography, and illustrations for print, web, video, and mobile.</li>
<li><a href="https://www.adobe.com/products/xd.html">Adobe XD</a> — design, prototype, and share any user experience, from websites and mobile apps to voice interactions.</li>
<li><a href="https://affinity.serif.com/en-gb/designer/">Affinity Designer</a> — vector graphics editor for macOS, iOS, and Microsoft Windows.</li>
<li><a href="https://www.figma.com/">Figma</a> — a design tool based in the browser, that allows to design and prototype with real-time collaboration.</li>
<li><a href="https://www.invisionapp.com/studio">Invision Studio</a> — combines design, prototyping, and collaboration into one harmonious workflow. </li>
<li><a href="https://www.adobe.com/products/photoshop.html">Photoshop</a> — imaging and graphic design software.</li>
<li><a href="https://www.sketchapp.com/">Sketch</a> — it's a design toolkit built for Mac.</li>
</ul>
<h3 id="designfeedbacktools">Design Feedback Tools</h3>
<p>Do you get feedback during the development process? If you wish to get more structural feedback on UI issues or visual bugs take a look on this tool:</p>
<ul>
<li><a href="https://flawlessapp.io/feedback">Flawless Feedback</a> — review and annotate iOS apps then share your feedback in Jira or Trello.</li>
</ul>
<h3 id="freescreenshotsoftware">Free Screenshot Software</h3>
<p>Find out powerful screenshot tools available for macOS:</p>
<ul>
<li><a href="https://www.getcloudapp.com/">CloudApp</a> — record videos, webcam, annotate screenshots, create GIFs and save them to the cloud.</li>
<li><a href="https://itunes.apple.com/us/app/lightshot-screenshot/id526298438">Lighshot</a> — screenshot app for taking quick captures of your screen.</li>
<li><a href="https://itunes.apple.com/us/app/monosnap/id540348655?mt=12">Monosnap</a> — create screenshots, annotate them and upload them to the cloud.</li>
<li><a href="https://support.apple.com/quicktime">Quicktime</a> — video player that you can use to record your screen. </li>
<li><a href="https://www.thnkdev.com/Screenie/">Screenie</a> — screenshotting tool that works as an image manager, so you can filter and search through images, change screenshot filetypes.</li>
<li><a href="http://snappy-app.com/">Snappy</a> — tool that takes quick shots and organizes them for you into collections.</li>
<li><a href="https://teampaper.me/snap/">Teampaper Snap</a> — modern screenshotting app that allows you to take screenshots of a selected area.</li>
</ul>
<h3 id="designsystemtools">Design System Tools</h3>
<p>Tools that help to build, maintain, and organize your own design system.</p>
<ul>
<li><a href="https://www.goabstract.com/">Abstract</a> — a platform for design teams to version, manage and collaborate on Sketch files.</li>
<li><a href="https://brand.ai/">Brand.ai</a> — automatically maintainable UI components style guide.</li>
<li><a href="https://www.lingoapp.com/">Lingo</a> — create a shared asset library with your entire team.</li>
<li><a href="https://lucid.style/">Lucid</a> — tool for creating, managing and share design system. From a simple component library through to detailed descriptions of your styles.</li>
<li><a href="https://www.zeroheight.com/">Zeroheight</a> — styleguides created by designers, extended by developers, and editable by everyone.</li>
</ul>
<p>We can also add to this list Sketch and Figma, that mentioned in UI design tools.</p>
<h3 id="fonttools">Font Tools</h3>
<ul>
<li><a href="https://fontface.ninja/">Fontface Ninja</a> — browser extension to discover what fonts are being used on any website.</li>
<li><a href="https://fontspark.app/">FontSpark</a> — simple tool to help designers quickly find the best fonts for their projects.</li>
<li><a href="http://sansforgetica.rmit/">Sans Forgetica</a> —  downloadable font that is scientifically designed to help you remember your study notes.</li>
<li><a href="https://webfontapp.com/">Webfont</a> — create and maintain custom SVG icon fonts, made a shared library of icons. </li>
</ul>
<h3 id="colorpickertools">Color Picker Tools</h3>
<p>If you are looking for eyedropper tool, color identifier tool or color capture tool, here you go: </p>
<ul>
<li><a href="https://chroma.spencerhamm.com/">Chroma</a> — free web app which allows you to identify the color. </li>
<li><a href="http://khroma.co/">Khroma</a> — AI-based tool to generate color palettes based on your preferences.</li>
<li><a href="https://itunes.apple.com/us/app/pikka-color-picker/id1195076754">Pikka - Color Picker</a> — color picker &amp; color schemes generator for macOS</li>
<li><a href="http://casesandberg.github.io/react-color/">React Color</a> — a collection of color pickers from Sketch, Photoshop, Chrome.</li>
<li><a href="https://bjango.com/mac/skalacolor/">Skala Color</a> — works with a huge variety of formats, covering everything you’re likely to need for web, iOS, Android, and macOS development.</li>
<li><a href="https://swatchesapp.io/">Swatches</a> — iOS app that lets you collect, inspect and share the colors that inspire you in your daily life.</li>
</ul>
<h3 id="animationtools">Animation Tools</h3>
<p>Need to create animated transition, micro-interaction or scroll-based animation? Go through these tools:</p>
<ul>
<li><a href="https://www.adobe.com/products/aftereffects.html">Adobe After Effects</a> —  a digital visual effects, motion graphics, and compositing application.</li>
<li><a href="https://kiteapp.co/">Kite Compositor</a> — a powerful animation and prototyping application for Mac &amp; iOS.</li>
<li><a href="https://uselightbox.com/">LightBox</a> — 2D, Hand-Drawn animation package.</li>
<li><a href="https://airbnb.io/lottie/">Lottie</a> — a mobile library for Android and iOS that parses Adobe After Effects animations exported as json with Bodymovin and renders them natively on mobile and on the web.</li>
<li><a href="https://spiritapp.io/">Spirit</a> — animation tool that helps you to create and manage the animations real time in the browser.</li>
</ul>
<p>Principle, Framer, Invision Studio, Flinto are also among UI &amp; UX animation apps and software animations tools.</p>
<h3 id="experiencemonitoringtools">Experience Monitoring Tools</h3>
<ul>
<li><a href="https://www.fullstory.com/">FullStory</a> — app that captures all your customer experience data in one powerful, easy-to-use platform. </li>
<li><a href="https://www.hotjar.com/">Hotjar</a> — see how visitors are really using your website, collect user feedback and turn more visitors into customers.</li>
<li><a href="https://www.inspectlet.com/">Inspectlet</a> — record videos of your visitors as they use your site, so you can see everything they do. </li>
<li><a href="https://analytics.google.com/analytics/web/">Google Analytics</a> — measure your advertising ROI as well as track your Flash, video, and social networking sites and applications.</li>
<li><a href="https://mixpanel.com/">Mixpane</a> — get insights across all of your user-centric data to make smarter decisions and act faster based on how customers use your product or website. </li>
<li><a href="https://www.pendo.io/">Pendo</a> — measure and elevate the customer experience within their applications.</li>
</ul>
<h3 id="accessibilitytools">Accessibility Tools</h3>
<ul>
<li><a href="https://contrasteapp.com/">Contraste</a> — app for checking the accessibility of text against the Web Content Accessibility Guidelines (WCAG).</li>
<li><a href="https://hexnaw.com/">Hex Naw</a> —  helps you to test entire color systems for contrast and accessibility. </li>
<li><a href="http://pa11y.org/">PA11Y</a> — accessibility testing tool to find issues with your web pages. It runs HTML CodeSniffer from the command line for programmatic accessibility reporting.</li>
</ul>
<h3 id="augmentedrealitytools">Augmented Reality Tools</h3>
<ul>
<li><a href="https://lightform.com/">Lightform</a> — design tool for projected AR.</li>
<li><a href="https://www.sparkar.com">Spark AR Studio</a> — сreate AR experiences for Instagram without code. </li>
</ul>
<h3 id="referenceinspiration">Reference &amp; Inspiration</h3>
<p>This repo was inspired by articles from the design community and Prototypr.io Toolbox.</p>