:root {
	--black: #1b1c26;
	--blue: #0054d7;
	--gray: #e6e6e6;
	--light-brown: #faac52;
	--light-blue : #c5e8fa;
	--orange: #facb5c;
	--yellow: #fade3e;
	--skin: #faf0b9;
	--swamp: #9f8d29;
	--feedback--bg: #ffffed;
	--feedback--btn: #ffbb44;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

a::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
input::selection,
label::selection,
li::selection,
p::selection,
span::selection,
strong::selection,
div::selection {
	background-color: var(--light-blue);
}

html {
  scroll-behavior: smooth;
}

body, a, input, button {
	font-family: 'Montserrat',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body {
	max-width: 1160px;
	display: flex;
	margin: 0 auto;
	font-size: 1.125rem;
	color: var(--black);
}

body > ul li > a {
	letter-spacing: -0.025625rem;
}

body > .nav {
	margin-top: 5rem;
}

body > main {
	margin-bottom: 50vh;
}

h3 {
	font-size: 1.75rem;
}

a {
	text-decoration: none;
}

h1 {
	letter-spacing: -0.043125rem;
}

h3 {
	letter-spacing: -0.033125rem;
}

button {
	letter-spacing: -0.01875rem;
}

main {
	padding-left: 4.375rem;
}

main > article {
	padding-bottom: 2rem;
}

article > header {
	margin-bottom: 2rem;
}

.hidden-in-page {
	display: none;
}

.nav {
	width: 310px;
	flex-shrink: 0;
}

.nav ul {
	position: fixed;
	width: 310px;
	padding-left: 0;
	margin: 0;
}

.nav li {
	margin-bottom: 0.375rem;
	border-radius: 6px;
	list-style: none;
}

.nav li:last-child {
	padding-bottom: 0px;
}

.nav li, .nav li a {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	line-height: 1.2;
	color: inherit;
}

.nav li > a {
	width: 100%;
	display: block;
	height: 100%;
	padding: 0.75rem 1.125rem;
	letter-spacing: -0.02125rem;
	border-radius: 6px;
}

.nav .active,
.nav .active:hover,
.nav .active:focus {
	color: #ffffff;
	background-color: var(--blue);
}

.nav li:hover,
.nav li:focus {
	background-color: var(--gray);
}

.nav h2 {
	display: none;
}

.banner {
	padding: 0.875rem 1rem;
	margin-top: 2.625rem;
	margin-bottom: 3.75rem;
	font-size: 1.125rem;
	line-height: 26px;
	letter-spacing: -0.3px;
	border-radius: 8px;
	background-color: var(--skin);
	color: var(--swamp);
}

.promo-banner {
	box-sizing: border-box;
	display: flex;
	background-color: #ffffed;
}

.promo-banner h3 {
	font-size: 1.375rem;
}

.promo-banner--flawless-feedback {
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 2.375rem 1rem;
	margin-top: 3.75rem;
	margin-bottom: 3.75rem;
	background-color: var(--feedback--bg);
	color: var(--black);
	border-radius: 8px;
}

.promo-banner--flawless-feedback h3 {
	color: inherit;
}

.promo-banner--flawless-feedback__button {
	padding: 0.5625rem 1rem;
	font-size: 1rem;
	font-weight: bold;
	background-color: var(--feedback--btn);
	color: #fff;
	border-radius: 18.5px;
}

.promo-banner--flawless-feedback p {
	line-height: 1.35;
}

.promo-banner--flawless-feedback__logo {
	width: 85px;
	height: 85px;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='85' height='85' viewBox='0 0 85 85'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23FB4' d='M0 42.5C0 65.972 19.028 85 42.5 85S85 65.972 85 42.5 65.972 0 42.5 0 0 19.028 0 42.5'/%3E%3Cpath fill='%23FEFEFE' d='M25.815 68.835V34.787c0-6.694 5.356-12.12 11.963-12.12h23.926c0 6.694-5.356 12.12-11.963 12.12H39.188c-.78 0-1.41.64-1.41 1.429v9.263a1.42 1.42 0 0 0 1.41 1.429H49.74c0 6.693-5.355 12.12-11.962 12.12v9.807c0 1.277-1.023 2.313-2.284 2.313h-7.396c-1.261 0-2.283-1.036-2.283-2.313'/%3E%3Cg fill='%23FEFEFE' opacity='.5'%3E%3Cpath d='M37.454 45.742c0 .789.642 1.428 1.433 1.428h5.623c1.253-2.495 1.994-5.234 1.994-7.872l-9.05 3.646v2.798zM38.083 22.93h14.794c2.925-3.337 4.863-7.872 4.863-12.147l-21.213 8.549c-4.329 1.744-8.049 6.207-9.698 11.118a12.166 12.166 0 0 1 11.254-7.52'/%3E%3C/g%3E%3Cg fill='%23FEFEFE' opacity='.5'%3E%3Cpath d='M38.086 23.103h20.327c.865-1.872 1.357-3.922 1.357-6.003l-22.451 4.249c-4.477.847-8.34 4.39-10.142 8.8 1.892-4.157 6.063-7.046 10.91-7.046M37.457 45.163v.615c0 .784.632 1.42 1.413 1.42h8.48a13.94 13.94 0 0 0 .565-3.879l-9.903 1.874a1.14 1.14 0 0 1-.555-.03'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: cover;
}

article > header {
	margin-bottom: 2rem;
}

article h3 {
	color: var(--blue);
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

article p {
	margin: 0;
}

article li {
	margin-bottom: 2rem;
	list-style: none;
}

article li:first-child {
	margin-top: 0;
}

article li:last-child {
	margin-bottom: 2.625rem;
}

article li a {
	font-size: 1.375rem;
	font-weight: 700;
	color: inherit;
}

article ul {
	margin: 0;
	padding-left: 0;
}

.tool {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.tool__asset {
	width: 60px;
	height: 60px;
	flex-shrink: 0;
	border-radius: 10px;
	background-color: var(--light-blue);
	margin-right: 2rem;
}

.tool__description p {
	margin-top: 0.5rem;
	line-height: 1.25;
}

.welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 5rem; 
	padding-bottom: 8.5rem;
}

.welcome__asset {
	width: 60px;
	height: 60px;
	border-radius: 16px;
	background-color: var(--blue);
	font-size: 0;
}

.welcome__title {
	font-size: 2rem;
	letter-spacing: -0.043125rem;
}

.welcome__description {
	max-width: 636px;
	padding-top: 1rem;
	padding-bottom: 2rem;
	line-height: 1.45;
	text-align: center;
}

.welcome__description a {
	color: inherit;
	font-style: italic;
	text-decoration: underline;
}

.welcome__btn {
	position: relative;
	padding: 0.75rem 1.375rem;
	padding-left: calc(25px + 1.375rem);
	border-radius: 24px;
	font-size: 1rem;
	font-weight: bold;
	background-color: var(--blue);
	color: #ffffff;
}

.image-gh:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 1.375rem;
	transform: translateY(-50%);
	width: 17px;
	height: 17px;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M8.5 0C3.804 0 0 3.862 0 8.63 0 12.685 2.741 16.05 6.439 17a1.181 1.181 0 0 1-.064-.41v-1.467H5.313c-.574 0-1.106-.259-1.34-.734-.276-.518-.318-1.316-1.02-1.813-.212-.172-.042-.345.192-.323.446.129.807.431 1.147.884.34.453.489.561 1.126.561.298 0 .765-.021 1.19-.087.234-.604.638-1.143 1.127-1.402-2.848-.345-4.208-1.769-4.208-3.71 0-.843.361-1.64.957-2.331-.191-.67-.447-2.05.085-2.59 1.275 0 2.04.843 2.231 1.058a6.455 6.455 0 0 1 2.061-.345c.744 0 1.424.129 2.061.345.19-.216.956-1.057 2.23-1.057.51.518.277 1.92.065 2.589.595.669.935 1.488.935 2.33 0 1.942-1.34 3.366-4.165 3.668.787.41 1.34 1.575 1.34 2.438v1.965c0 .065-.022.13-.022.194C14.62 15.598 17 12.405 17 8.63 17 3.862 13.196 0 8.5 0z'/%3E%3C/svg%3E");
}

@media(max-width: 768px) {
	body > .nav {
		display: none;
		margin-top: 0;
	}

	body > .nav--visible {
		position: fixed;
		display: block;
		width: 100%;
		height: 100vh;
		background-color: #ffffff;
	}

	.nav ul {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	}

	.nav li > a {
		font-size: 0.875rem;
		padding: 0.5rem 0.875rem;
	}

	.hamburger-menu {
		position: fixed;
		top: 0;
		right: 0;
		display: inline-block;
		width: 22px;
		height: auto;
		padding: 1rem;
		background-color: #ffffff;
	}

	.bar1, .bar2, .bar3 {
		width: 22px;
		height: 2px;
		background-color: var(--black);
		margin: 6px 0;
		transition: .4s;
	}

	.hamburger-menu--change .bar1 {
		width: 18px;
		transform: rotate(-45deg) translate(-4px,6px);
	}

	.hamburger-menu--change .bar2 {
		opacity: 0;
	}

	.hamburger-menu--change .bar3 {
		width: 18px;
		transform: rotate(45deg) translate(-5px,-8px);
	}

	main {
		padding-left: 2.1875rem;
		padding-right: 2.1875rem;
	}

	.tool {
		flex-direction: column;
		margin-bottom: 3rem;
	}

	.tool__asset {
		margin-bottom: 1rem;
	}

	.welcome {
		align-items: flex-start;
	}

	.welcome__title {
		font-size: 3rem;
	}

	.welcome__description {
		text-align: left;
	}

}

@media(max-width: 960px) {
	.promo-banner--flawless-feedback {
		flex-direction: column;
		align-items: flex-start;
	}

	.promo-banner--flawless-feedback__description {
		margin: 3rem 0;
	}
}
